*{
    margin: 0px;
    padding: 0px;
}
#cabecera{
  background-color: #0a0800;
  border: 1px solid #999999;
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
}
#imagen{
  width: 100px;
  height: 100px;
}
#navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navegacion li {
    float: right;
}

#navegacion li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navegacion li a:hover {
    background-color: #111;
  }

  #izquierda{
    text-align: center;
    display: inline-block;
    width: 50%;
    float:left;
  }
  #izquierda2{
    float: left;
  }
  #derecha2{
    float:right;
  }
  #derecha{
    text-align: center;
    display: inline-block;
    width: 50%;
    float:right;
  }
  #centro{
    clear: both;
    text-align: center;

  }
 #pie{
   background: #CCCCCC;
   padding:  20px;
   border-top: 2px solid #CCCCCC;
   text-align: center;
 }
